<!DOCTYPE html>
<html>

<head>
  <title>Material Search</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="default.css" rel="stylesheet">
  <!-- <?!= css ?> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="app">
    <v-app v-cloak>
      <v-app-bar fixed color="primary" dark>
        <v-app-bar-nav-icon @click="drawer.show = true"></v-app-bar-nav-icon>
        <v-toolbar-title>Material Search</v-toolbar-title>
      </v-app-bar>
      <v-content>
        <!-- <div class="main-area overflow-hidden"> -->
        <v-container style="height: 64px;" id="top-margin"></v-container>
        <v-container>
          <v-row>
            <v-col cols="12">
              <div id="search">
                <v-card class="pa-3 ma-2" outlined v-on:keydown.enter="searchRecords">
                  <v-text-field label="検索キーワード" v-model="input.word"></v-text-field>
                  <v-select 
                    v-model="input.selectedCategories"
                    :items="options.categories"
                    label="カテゴリを選択してください(必須)"
                    multiple 
                    chips
                    class="categories"
                  >
                    <template v-slot:prepend-item>
                      <v-list-item ripple @click="toggleCategory">
                        <v-list-item-action>
                          <v-icon>{{ iconCategory }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>Select All</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-divider class="mt-2"></v-divider>
                    </template>
                  </v-select>

                  <v-select 
                    v-model="input.selectedTypes"
                    :items="options.types"
                    label="形式を選択してください(必須)"
                    multiple 
                    chips
                    class="types"
                  >
                    <template v-slot:prepend-item>
                      <v-list-item ripple @click="toggleType">
                        <v-list-item-action>
                          <v-icon>{{ iconType }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-content>
                          <v-list-item-title>Select All</v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                      <v-divider class="mt-2"></v-divider>
                    </template>
                  </v-select>
                  
                  <v-btn 
                    color="primary" 
                    block 
                    @click="searchRecords"
                    :disabled="input.selectedCategories.length === 0 || input.selectedTypes.length === 0"
                  >
                    <span>検索</span>
                  </v-btn>
                </v-card>
              </div>
            </v-col>
          </v-row>
        </v-container>
      </v-content>

      <v-content class="result" v-if="countAllRecords && showResultArea">
      <!-- <v-content class="result"> -->
        <v-container>
          <v-row>
            <v-col>
              <div class="headline pb-4">検索結果 {{ filteredRecords.length }}件</div>
              <v-card class="mx-auto my-2" v-for="(r, index) in filteredRecords">
                <div class="pt-2 px-2">
                  <v-chip class="mb-0 mr-1" small color="primary lighten-1">{{ r.category }}</v-chip>
                  <v-chip class="mb-0 mr-1" small color="yellow">{{ r.type }}</v-chip>
                </div>
                
                <v-card-actions class="py-0">
                    <v-col class="px-3 py-0" cols="10" sm="11">
                      <a :href="r.url" target="_blank">
                        <p class="subtitle-1 font-weight-bold ma-0 pa-0">{{ r.title }}</p>
                      </a>
                    </v-col>
                  
                    <v-col cols="2" sm="1">
                      <div class="text-right">
                        <v-btn icon @click="changeShowStatus(index)" class="mr-0 pr-0">
                          <v-icon small>{{ show[index] ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                        </v-btn>
                      </div>
                    </v-col>
                </v-card-actions>
                
                <v-expand-transition>
                  <div v-show="show[index]">
                    <v-divider></v-divider>
                    
                    <div class="pt-2 px-2">
                      <v-chip class="mb-2 mr-1" label small v-for="w in r.keyword">{{ w }}</v-chip>
                      <div v-if="r.contact">
                        <p class=" mt-2 mb-1">
                          <v-icon>mdi-information-outline</v-icon> 問合せ先
                        </p>
                        <p class="ml-4 grey--text text--en-2">{{ r.contact }}</p> 
                      </div>
                      <v-footer color="white" class="text-right px-0">
                        <v-col class="text-right grey--text caption my-0 pr-1 py-0" cols="12">最終更新 {{ new Date(r.update).toLocaleDateString('ja-JP') }}</v-col>
                      </v-footer>
                    </div>
                  </div>
                </v-expand-transition>
              </v-card>
              
            </v-col>
          </v-row>
        </v-container>
      </v-content>
      
      <v-overlay class="text-center" color="white" opacity="1" :value="!countAllRecords">
        <v-progress-circular 
          color="primary"
          indeterminate
          size="120"
          width="7"
        >
        </v-progress-circular>
      </v-overlay>
     
    </v-app>
  </div>
  <!-- dev dependencies -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- production dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
  <script src="default.js"></script>
  <!-- <?!= js ?> -->
</body>

</html>